<div class="view mblView">
	<div>
		<div id="itemswrapper"  style="visibility:visible" data-dojo-type="dojox/mobile/Heading" 
				data-dojo-props='label:"To do items"' data-app-region="top">
			<span  data-dojo-attach-point="itemslist_add" data-dojo-type="dojox/mobile/ToolBarButton" 
				data-dojo-props='icon: "mblDomButtonWhitePlus"' style="float:right;"></span>
		</div>
		<div id="itemslistwrapper">
			<div id="list_container" data-dojo-type="dojox/app/widgets/Container" data-app-region="bottom" data-dojo-props="scrollable: true">
				<h2 data-dojo-type="dojox/mobile/RoundRectCategory" data-app-region="top">All items programatic</h2>
			</div>
		</div>
	</div>	
</div>
